.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 16px;
}

@media (max-width: 950px) {
  .elements {
    grid-template-columns: auto auto;
    gap: 16px;
    max-width: 880px;
    width: fit-content;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 17px;
    padding: 0;
  }
}

@media screen and (max-width: 590px) {
  .elements {
    grid-template-columns: auto;
    padding-top: 30px;
  }
}
